In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from matplotlib import pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import plotly.offline as py
import plotly.graph_objs as go

In [6]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [8]:
app_data= pd.read_csv("application_data.csv")

In [ ]:
app_data.head()

In [ ]:
# checking shape of dataset
app_data.shape

In [ ]:
#Describing the data types of dataset
app_data.dtypes

In [ ]:
#Describing the numerical columns of the datset 
app_data.describe()

In [ ]:
# Checking No of Null Values in Dataset
app_data.isnull().sum().sort_values(ascending = False)

In [ ]:
# Checking Percentage of Null Values in Dataset
percent_missing = app_data.isnull(). sum() * 100 / len(app_data)
percent_missing.sort_values(ascending = False)

In [ ]:
df =percent_missing[percent_missing>35]

In [ ]:
# Listing and plotting Columns where missing values are more than 35%
plt.figure(figsize=(15,4))
percent_missing[percent_missing>35].plot.bar()
plt.title('List of Columns having more than 35% missing values')
plt.show()

In [ ]:
# Number of columns having percentage of null values > 35%
len(percent_missing[percent_missing>35])

In [ ]:
#Removing column having more tha 35% missing values
pct_null = app_data.isnull().sum() / len(app_data)
missing_features = pct_null[pct_null > 0.35].index
app_data.drop(missing_features, axis=1, inplace=True)

In [ ]:
app_data.shape

#### We can see that 49 columns have been dropped

In [ ]:
# Checking the columns having less null percentage

(app_data.isnull().sum()/len(app_data)*100).sort_values(ascending=False)

### Seprating Categorical and numerical columns

In [ ]:
category_list = list(set(app_data.columns) - set(app_data.describe().columns))
category_list

### Checking and Imputing  null vales in categorical data

In [ ]:
# Checking for CODE_GENDER column
app_data.CODE_GENDER.isnull().sum()

In [ ]:
# Checking for NAME_EDUCATION_TYPE column
app_data.NAME_EDUCATION_TYPE.isnull().sum()

In [ ]:
# Checking for NAME_CONTRACT_TYPE column
app_data.NAME_CONTRACT_TYPE.isnull().sum()

In [ ]:
# Checking for FLAG_OWN_CAR column
app_data.FLAG_OWN_CAR.isnull().sum()

In [ ]:
# Checking for NAME_INCOME_TYPE column
app_data.NAME_INCOME_TYPE.isnull().sum()

In [ ]:
# Checking for FLAG_OWN_REALTY column
app_data.FLAG_OWN_REALTY.isnull().sum()

In [ ]:
# Checking for NAME_FAMILY_STATUS column
app_data.NAME_FAMILY_STATUS.isnull().sum()

In [ ]:
# Checking for NAME_HOUSING_TYPE column
app_data.NAME_HOUSING_TYPE.isnull().sum()

In [ ]:
# Checking for WEEKDAY_APPR_PROCESS_START column
app_data.WEEKDAY_APPR_PROCESS_START.isnull().sum()

In [ ]:
# Checking for ORGANIZATION_TYPE column
app_data.ORGANIZATION_TYPE.isnull().sum()

#### Lets Take OCCUPATION_TYPE

Here if we impute with mode value the data will be skew data set or highly favour Laborers occupation type which may not be the case. So we will leave it as it is.

In [ ]:
app_data.OCCUPATION_TYPE.isnull().sum()

In [ ]:
app_data.OCCUPATION_TYPE.value_counts()

In [ ]:
app_data.OCCUPATION_TYPE.mode()

#### Instead we can create a seprate category for missing values like Unknown

In [ ]:
app_data.OCCUPATION_TYPE = np.where(app_data.OCCUPATION_TYPE.isnull(),"Unknown",app_data.OCCUPATION_TYPE)

In [ ]:
#Rechecking for null values
app_data.OCCUPATION_TYPE.isnull().sum()

#### Imputing Null values in NAME_TYPE_SUITE column

In [ ]:
app_data.NAME_TYPE_SUITE.value_counts()

In [ ]:
app_data.NAME_TYPE_SUITE.mode()

In [ ]:
app_data.NAME_TYPE_SUITE.isnull().sum()

In [ ]:
# Imputing null with Mode value 
app_data.NAME_TYPE_SUITE = app_data.NAME_TYPE_SUITE.fillna(app_data.NAME_TYPE_SUITE.mode()[0])

In [ ]:
# Checking for null value in 
app_data.NAME_TYPE_SUITE.isnull().sum()

### Checking and Imputing null values in Numerical columns

In [ ]:
numerical_col_list = list(set(app_data.describe().columns))

In [ ]:
numerical_col_list

In [ ]:
#list of numerical columns that have missing or NA values 
for item in numerical_col_list : 
    count  = app_data[item].isnull().sum()
    if count != 0 : 
        print(item)
        sns.distplot(app_data[item])
        plt.axvline(app_data[item].mean(), color="green")
        plt.axvline(app_data[item].median(), color="red")
        plt.show()
        print("Mean:",app_data[item].mean())
        print("Median:",app_data[item].median())
        print("DIfference:",(app_data[item].mean() - app_data[item].median()))

#### Imputing null values in EXT_SOURCE_3

In [ ]:
app_data['EXT_SOURCE_3'].describe()

In [ ]:
app_data['EXT_SOURCE_3'].isnull().sum()

In [ ]:
app_data['EXT_SOURCE_3'] = app_data['EXT_SOURCE_3'].fillna(app_data['EXT_SOURCE_3'].median())

In [ ]:
app_data['EXT_SOURCE_3'].isnull().sum()

In [ ]:
app_data['EXT_SOURCE_3'].describe()

#### Imputing null values in AMT_REQ_CREDIT_BUREAU_YEAR

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts()

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull().sum()

In [ ]:
# filling null values with mode 
app_data['AMT_REQ_CREDIT_BUREAU_YEAR'] = app_data['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(app_data['AMT_REQ_CREDIT_BUREAU_YEAR'].mode()[0])

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull().sum()

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts()

#### Imputing null values in AMT_REQ_CREDIT_BUREAU_QRT

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts()

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_QRT'].isnull().sum()

In [ ]:
# filling null values with mode 
app_data['AMT_REQ_CREDIT_BUREAU_QRT'] = app_data['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(app_data['AMT_REQ_CREDIT_BUREAU_QRT'].mode()[0])

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_QRT'].isnull().sum()

In [ ]:
app_data['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts()

#### Imputing null values in AMT_REQ_CREDIT_BUREAU_MON

In [ ]:
print("Checking values of AMT_REQ_CREDIT_BUREAU_MON")
print(app_data['AMT_REQ_CREDIT_BUREAU_MON'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_MON'].isnull().sum(),end="\n")

# filling null values with mode 
app_data['AMT_REQ_CREDIT_BUREAU_MON'] = app_data['AMT_REQ_CREDIT_BUREAU_MON'].fillna(app_data['AMT_REQ_CREDIT_BUREAU_MON'].mode()[0])
print("Cross checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_MON'].isnull().sum())
print("Re-Checking values of AMT_REQ_CREDIT_BUREAU_MON")
print(app_data['AMT_REQ_CREDIT_BUREAU_MON'].value_counts())

#### Imputing null values in AMT_REQ_CREDIT_BUREAU_WEEK

In [ ]:
print("Checking values of AMT_REQ_CREDIT_BUREAU_WEEK")
print(app_data['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_WEEK'].isnull().sum(),end="\n")

# filling null values with mode 
app_data['AMT_REQ_CREDIT_BUREAU_WEEK'] = app_data['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(app_data['AMT_REQ_CREDIT_BUREAU_WEEK'].mode()[0])
print("Cross checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_WEEK'].isnull().sum())
print("Re-Checking values of AMT_REQ_CREDIT_BUREAU_WEEK")
print(app_data['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts())

#### Imputing null values in AMT_REQ_CREDIT_BUREAU_DAY

In [ ]:
print("Checking values of AMT_REQ_CREDIT_BUREAU_DAY")
print(app_data['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_DAY'].isnull().sum(),end="\n")

# filling null values with mode 
app_data['AMT_REQ_CREDIT_BUREAU_DAY'] = app_data['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(app_data['AMT_REQ_CREDIT_BUREAU_DAY'].mode()[0])
print("Cross checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_DAY'].isnull().sum())
print("Re-Checking values of AMT_REQ_CREDIT_BUREAU_DAY")
print(app_data['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts())

#### Imputing null values in AMT_REQ_CREDIT_BUREAU_HOUR

In [ ]:
print("Checking values of AMT_REQ_CREDIT_BUREAU_HOUR")
print(app_data['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_HOUR'].isnull().sum(),end="\n")

# filling null values with mode 
app_data['AMT_REQ_CREDIT_BUREAU_HOUR'] = app_data['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(app_data['AMT_REQ_CREDIT_BUREAU_HOUR'].mode()[0])
print("Cross checking for null values")
print(app_data['AMT_REQ_CREDIT_BUREAU_HOUR'].isnull().sum())
print("Re-Checking values of AMT_REQ_CREDIT_BUREAU_HOUR")
print(app_data['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts())

#### Imputing null values in OBS_30_CNT_SOCIAL_CIRCLE

In [ ]:
print("Checking values of OBS_30_CNT_SOCIAL_CIRCLE")
print(app_data['OBS_30_CNT_SOCIAL_CIRCLE'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['OBS_30_CNT_SOCIAL_CIRCLE'].isnull().sum(),end="\n")

# filling null values with median 
app_data['OBS_30_CNT_SOCIAL_CIRCLE'] = app_data['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(app_data['OBS_30_CNT_SOCIAL_CIRCLE'].median())
print("Cross checking for null values")
print(app_data['OBS_30_CNT_SOCIAL_CIRCLE'].isnull().sum())
print("Re-Checking values of OBS_30_CNT_SOCIAL_CIRCLE")
print(app_data['OBS_30_CNT_SOCIAL_CIRCLE'].value_counts())

#### Imputing null values in DEF_30_CNT_SOCIAL_CIRCLE

In [ ]:
print("Checking values of DEF_30_CNT_SOCIAL_CIRCLE")
print(app_data['DEF_30_CNT_SOCIAL_CIRCLE'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['DEF_30_CNT_SOCIAL_CIRCLE'].isnull().sum(),end="\n")

# filling null values with median 
app_data['DEF_30_CNT_SOCIAL_CIRCLE'] = app_data['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(app_data['DEF_30_CNT_SOCIAL_CIRCLE'].median())
print("Cross checking for null values")
print(app_data['DEF_30_CNT_SOCIAL_CIRCLE'].isnull().sum())
print("Re-Checking values of DEF_30_CNT_SOCIAL_CIRCLE")
print(app_data['DEF_30_CNT_SOCIAL_CIRCLE'].value_counts())

#### Imputing null values in OBS_60_CNT_SOCIAL_CIRCLE

In [ ]:
print("Checking values of OBS_60_CNT_SOCIAL_CIRCLE")
print(app_data['OBS_60_CNT_SOCIAL_CIRCLE'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['OBS_60_CNT_SOCIAL_CIRCLE'].isnull().sum(),end="\n")

# filling null values with median 
app_data['OBS_60_CNT_SOCIAL_CIRCLE'] = app_data['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(app_data['OBS_60_CNT_SOCIAL_CIRCLE'].median())
print("Cross checking for null values")
print(app_data['OBS_60_CNT_SOCIAL_CIRCLE'].isnull().sum())
print("Re-Checking values of OBS_60_CNT_SOCIAL_CIRCLE")
print(app_data['OBS_60_CNT_SOCIAL_CIRCLE'].value_counts())

In [ ]:
#### Imputing null values in DEF_60_CNT_SOCIAL_CIRCLE

In [ ]:
print("Checking values of DEF_60_CNT_SOCIAL_CIRCLE")
print(app_data['DEF_60_CNT_SOCIAL_CIRCLE'].value_counts(),end="\n")
print("Checking for null values")
print(app_data['DEF_60_CNT_SOCIAL_CIRCLE'].isnull().sum(),end="\n")

# filling null values with median 
app_data['DEF_60_CNT_SOCIAL_CIRCLE'] = app_data['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(app_data['DEF_60_CNT_SOCIAL_CIRCLE'].median())
print("Cross checking for null values")
print(app_data['DEF_60_CNT_SOCIAL_CIRCLE'].isnull().sum())
print("Re-Checking values of DEF_60_CNT_SOCIAL_CIRCLE")
print(app_data['DEF_60_CNT_SOCIAL_CIRCLE'].value_counts())

#### Imputing null values in EXT_SOURCE_2

In [ ]:
print("Checking values of EXT_SOURCE_2")
print(app_data['EXT_SOURCE_2'].value_counts())
print("Checking for null values")
print(app_data['EXT_SOURCE_2'].isnull().sum())

# filling null values with median 
app_data['EXT_SOURCE_2'] = app_data['EXT_SOURCE_2'].fillna(app_data['EXT_SOURCE_2'].median())
print("Cross checking for null values")
print(app_data['EXT_SOURCE_2'].isnull().sum())
print("Re-Checking values of EXT_SOURCE_2")
print(app_data['EXT_SOURCE_2'].value_counts())

#### Imputing null values in AMT_GOODS_PRICE

In [ ]:
print("Checking values of AMT_GOODS_PRICE")
print(app_data['AMT_GOODS_PRICE'].describe(),end="\n")
print("Checking for null values")
print(app_data['AMT_GOODS_PRICE'].isnull().sum(),end="\n")

# filling null values with median 
app_data['AMT_GOODS_PRICE'] = app_data['AMT_GOODS_PRICE'].fillna(app_data['AMT_GOODS_PRICE'].median())
print("Cross checking for null values")
print(app_data['AMT_GOODS_PRICE'].isnull().sum())
print("Re-Checking values of AMT_GOODS_PRICE")
print(app_data['AMT_GOODS_PRICE'].describe())

#### Imputing null values in AMT_ANNUITY

In [ ]:
print("Checking values of AMT_ANNUITY")
print(app_data['AMT_ANNUITY'].describe(),end="\n")
print("Checking for null values")
print(app_data['AMT_ANNUITY'].isnull().sum(),end="\n")

# filling null values with median 
app_data['AMT_ANNUITY'] = app_data['AMT_ANNUITY'].fillna(app_data['AMT_ANNUITY'].median())
print("Cross checking for null values")
print(app_data['AMT_ANNUITY'].isnull().sum())
print("Re-Checking values of AMT_ANNUITY")
print(app_data['AMT_ANNUITY'].describe())

#### Imputing null values in CNT_FAM_MEMBERS

In [ ]:
print("Checking values of CNT_FAM_MEMBERS")
print(app_data['CNT_FAM_MEMBERS'].describe(),end="\n")
print("Checking for null values")
print(app_data['CNT_FAM_MEMBERS'].isnull().sum(),end="\n")

# filling null values with median 
app_data['CNT_FAM_MEMBERS'] = app_data['CNT_FAM_MEMBERS'].fillna(app_data['CNT_FAM_MEMBERS'].median())
print("Cross checking for null values")
print(app_data['CNT_FAM_MEMBERS'].isnull().sum())
print("Re-Checking values of CNT_FAM_MEMBERS")
print(app_data['CNT_FAM_MEMBERS'].describe())

#### Imputing null values in DAYS_LAST_PHONE_CHANGE

In [ ]:
print("Checking values of DAYS_LAST_PHONE_CHANGE")
print(app_data['DAYS_LAST_PHONE_CHANGE'].describe(),end="\n")
print("Checking for null values")
print(app_data['DAYS_LAST_PHONE_CHANGE'].isnull().sum(),end="\n")

# filling null values with median 
app_data['DAYS_LAST_PHONE_CHANGE'] = app_data['DAYS_LAST_PHONE_CHANGE'].fillna(app_data['DAYS_LAST_PHONE_CHANGE'].median())
print("Cross checking for null values")
print(app_data['DAYS_LAST_PHONE_CHANGE'].isnull().sum())
print("Re-Checking values of DAYS_LAST_PHONE_CHANGE")
print(app_data['DAYS_LAST_PHONE_CHANGE'].describe())

#### Re-Checking null values in dataset

In [ ]:
app_data.isnull().sum()

## Binning Values

#### If we look at the columns that denote date of some form, we see that the dates in most of them are in the form of days and are negative. So we shall we converting all dates to positve using the absolute method. Also we will need the dates in 365 days format so we also use floor divison to convert them.

In [ ]:
# Listing all columns with date format
days_list = ['DAYS_LAST_PHONE_CHANGE', 'DAYS_EMPLOYED','DAYS_BIRTH','DAYS_REGISTRATION','DAYS_ID_PUBLISH']

In [ ]:
for i in days_list :
    app_data[i] = app_data[i].abs()
    app_data[i] = app_data[i].fillna(app_data[item].median())
    app_data[i] = app_data[i] // 365

#### Binning Day_Births

In [ ]:
app_data['DAYS_BIRTH'].unique()

In [ ]:
#Binning 'DAYS_BIRTH'
app_data['DAYS_BIRTH_BINS']=pd.cut(app_data['DAYS_BIRTH'], bins=[19,25,35,60,100], labels=['Very_Young','Young', 'Middle_Age', 'Senior_Citizen'])

In [ ]:
app_data['DAYS_BIRTH_BINS'].value_counts()

In [ ]:
# Binning AMT_INCOME_TOTAL column
app_data['AMT_INCOME_BIN'] = pd.qcut(app_data.AMT_INCOME_TOTAL, q=[0, 0.2, 0.5, 0.8, 0.95, 1], labels=['VERY_LOW', 'LOW', "MEDIUM", 'HIGH', 'VERY_HIGH'])
app_data['AMT_INCOME_BIN'].value_counts()

In [ ]:
#Binning AMT_CREDIT column
app_data['AMT_CREDIT_BIN'] = pd.qcut(app_data.AMT_CREDIT, q=[0, 0.2, 0.5, 0.8, 0.95, 1], labels=['VERY_LOW', 'LOW', "MEDIUM", 'HIGH', 'VERY_HIGH'])
app_data['AMT_CREDIT_BIN'].value_counts()

In [ ]:
app_data.isnull().sum()

#### All null values except OCCUPATION_TYPE have been imputed , Dataset is clean.

# Data Analysis

### Checking for data imbalance

In [ ]:
imbalance_data = app_data["TARGET"].value_counts(normalize=True)*100
imbalance_data

In [ ]:
fig = px.pie(app_data["TARGET"], values=imbalance_data, names=imbalance_data.index.to_list(), title='Imbalance Target Distribution', hole=.4)
fig.show()

#### As we can see there high data imbalance between defaulters(1) and other cases(0)

### Dividing the dataset into two different datasets based upon 'Target' value.

In [ ]:
target_0 = app_data.loc[app_data.TARGET == 0]
target_1 = app_data.loc[app_data.TARGET == 1]

### Univariate Analysis of Categorical Columns

#### Income Source

In [ ]:
# Income sources of Loan- Non Payment Difficulties
coldata = target_0["NAME_INCOME_TYPE"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Income sources of Loan- Non Payment Difficulties')
fig.show()

In [ ]:
# Income sources of Loan- Non Payment Difficulties
coldata = target_1["NAME_INCOME_TYPE"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Income sources of Loan Payment Difficulties')
fig.show()

We can see that there is a decrease in the percentage of Payment Difficulties who are pensioners, State servant and Commercial associate and an increase in the percentage of Payment Difficulties who are Working class when compared the percentages of both Payment Difficulties and non-Payment Difficulties.

#### Income Range

In [ ]:
target_0.info()

In [ ]:
# Income range of Loan- Non Payment Difficulties
coldata = target_0["AMT_INCOME_BIN"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Income range of Loan- Non Payment Difficulties')
fig.show()

In [ ]:
# Income sources of Loan Payment Difficulties
coldata = target_1["AMT_INCOME_BIN"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Income range of Loan Payment Difficulties')
fig.show()

In both cases people with Academic Degree do not face difficulties in repaying loan.Whereas people who have done Secondary schooling have faced more difficulties while repaying the loan. 
Higher education category has increased in loan non payment difficulties comparatively.

#### Gender Distribution

In [ ]:
# Income sources of Loan- Non Payment Difficulties
coldata = target_0["CODE_GENDER"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Gender Distibution of Loan- Non Payment Difficulties')
fig.show()

In [ ]:
# Gender Distibution of Loan Payment Difficulties
coldata = target_1["CODE_GENDER"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title="Gender Distibution of Loan Payment Difficulties")
fig.show()

In both cases we can see that people who are accommodated House/Apartment face more difficulties in loan re payment.
In case of loan payment difficulties there is a slight increase in people living with parents.

#### Education Distribution

In [ ]:
# Education Distibution of Loan- Non Payment Difficulties
coldata = target_0["NAME_EDUCATION_TYPE"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Education Distibution of Loan- Non Payment Difficulties')
fig.show()

In [ ]:
# Education Distibution of Loan Payment Difficulties
coldata = target_1["NAME_EDUCATION_TYPE"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Education Distibution of Loan Payment Difficulties')
fig.show()

In both cases people with Academic Degree do not face diffculties in repaying loan.Whereas people who have done Secondary schooling have faced more difficulties while repaying the loan. Higher education category has increased in loan non payment diffuclties comparitively.

#### Housing Distribution

In [ ]:
# Housing Distribution of Loan- Non Payment Difficulties
coldata = target_0["NAME_HOUSING_TYPE"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Housing Distribution of Loan- Non Payment Difficulties')
fig.show()

In [ ]:
# Housing Distribution of Loan Payment Difficulties
coldata = target_1["NAME_HOUSING_TYPE"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Housing Distribution of Loan Payment Difficulties')
fig.show()

In both cases we can see that people who are accommodated House/Apartment face more more diifculties in loan re payment.In case of loan payment diffculties there is a slight increase in people living with parents.

#### Age Distribution

In [ ]:
# Age Distribution of Loan- Non Payment Difficulties
coldata = target_0["DAYS_BIRTH_BINS"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Age Distribution of Loan- Non Payment Difficulties')
fig.show()

In [ ]:
# Age Distribution of Loan Payment Difficulties
coldata = target_1["DAYS_BIRTH_BINS"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Age Distribution of Loan Payment Difficulties')
fig.show()

In both categories we can observe that Middle aged people are having more difficulties. In Loan payment segment Youngsters percentage is comparitively more than in Loan Non payment.Senior citizens are also not able to re pay the loan amount monthly.

### Univariate Analysis of Numerical Columns

#### Credit Amount

In [ ]:
px.histogram(target_0, x="AMT_CREDIT",  marginal="box",nbins=50,title="Plotting of AMT_CREDIT for Loan Non-Payment difficulties")

In [ ]:
px.histogram(target_1, x="AMT_CREDIT",  marginal="box",nbins=50,title="Plotting of AMT_CREDIT for Loan Payment difficulties")

We can see that in both target 0 and target 1 majority of the difficulties have amt_credit in range 200k and 600k.In target 0 we can see few outliers above the range of 3 million whereas in target 1 there are very few ouliters above the 3 million region.

#### Annuity Distribution

In [ ]:
px.histogram(target_0, x="AMT_ANNUITY",  marginal="box",nbins=50,title="Plotting of AMT_ANNUITY for Loan Non- Payment difficulties")

In [ ]:
px.histogram(target_1, x="AMT_ANNUITY",  marginal="box",nbins=50,title="Plotting of AMT_ANNUITY for Loan Payment difficulties")

In non payment difficulties the majority of annuity amt is in the 15k to 35k range with median around 25k and in payment diificulty the annuity amt is in the range of 17k to 32k with 25k median. Using outliers we can see a lot of people with non payment(target_0) are having high annual annuity.

#### Family Members Distribution

In [ ]:
px.histogram(target_0, x="CNT_FAM_MEMBERS",  marginal="box",nbins=25,title="Plotting of CNT_FAM_MEMBERS for Loan Non- Payment difficulties")

In [ ]:
px.histogram(target_1, x="CNT_FAM_MEMBERS",  marginal="box",nbins=25,title="Plotting of CNT_FAM_MEMBERS for Loan Payment difficulties")

We can see that in both scenario people with less family members have more difficulty in repying loans.in target 0 case majority of the family are less than 2. In target 1 case with median at 2 members in a family with majority in the range of 1 to 3 members.

## Bivariate Analysis

#### Income range vs Family Status

In [ ]:
px.histogram(target_0, x="AMT_CREDIT" ,color='NAME_FAMILY_STATUS', marginal="box",nbins=50,title="Plotting of Credit Amount vs Family Status for Loan Non- Payment difficulties")

In [ ]:
px.histogram(target_1, x="AMT_CREDIT" ,color='NAME_FAMILY_STATUS', marginal="box",nbins=40,title="Plotting of Credit Amount vs Family Status for Loan Payment difficulties")

In both cases we can observe that married people have the highest credit amount.In Loan non payment difficulties case  single  have an increased count as compared to Loan payemnt difficulties.

#### Income Range vs Credit Amount

In [ ]:
px.histogram(target_0, x="AMT_CREDIT" ,color='AMT_INCOME_BIN', marginal="box",nbins=50,title="Plotting of Credit Amount vs Income Range for Loan Non- Payment difficulties")

In [ ]:
px.histogram(target_1, x="AMT_CREDIT" ,color='AMT_INCOME_BIN', marginal="box",nbins=40,title="Plotting of Credit Amount vs Income Range for Loan payment difficulties")

In both scenario we can see that Medium , low , and very low income range have high credits. In case of loan non repayment medium income range has higher credits comparing the median and q3 value in both scenarios.

#### Gender vs NAME_INCOME_TYPE

In [ ]:
px.histogram(target_0, x="NAME_INCOME_TYPE" ,color='CODE_GENDER', marginal="box",nbins=25,title="Plotting of Gender vs NAME_INCOME_TYPE for Loan Non- Payment difficulties")

In [ ]:
px.histogram(target_1, x="NAME_INCOME_TYPE" ,color='CODE_GENDER', marginal="box",nbins=25,title="Plotting of Gender vs NAME_INCOME_TYPE for Income Range difficulties")

We can see that in both scenario the applicants are of the Working income type for both genders .In target_0 segment we can observe higher no of Females of Comercial Associate and Pensonier income type as compared to target_1.

### Multi-Variate Analysis

####  NAME_INCOME_TYP vs AMT_CREDIT

In [ ]:
# 'Credit amount vs Income Type vs Family Status for Loan Non- Payment Difficulties
fig = px.box(target_0,
             x="NAME_INCOME_TYPE",
             y="AMT_CREDIT",
             color = "NAME_FAMILY_STATUS",
             title="Credit amount vs Income Type vs Family Status - Non Payment Difficulties for Loan")
fig.show()

In [ ]:
# Credit amount vs Income Type vs Family Status for Loan Payment Difficulties
fig = px.box(target_1,
             x="NAME_INCOME_TYPE",
             y="AMT_CREDIT",
             color = "NAME_FAMILY_STATUS",
             title="Credit amount vs Income Type vs Family Status - Payment Difficulties for Loan")
fig.show()

We can observe that the median credit amt granted is the highest in the married family status in both the scenario of loan non payment and loan payment.
Single family status has lowest median credit amt in loan payment difficulties and similarly in loan non payment single family status has the lowest median in most income type.

### Data Correlation

In [ ]:
target_0.corr()

target_0.corr().abs()

target_0.corr().abs().unstack()

target_0.corr().abs().unstack().sort_values(kind = 'quicksort')

corr_0 = target_0.corr().abs().unstack().sort_values(kind = 'quicksort').dropna()

corr_1 = target_1.corr().abs().unstack().sort_values(kind = 'quicksort').dropna()

In [ ]:
corr_0

In [ ]:
corr_1

In [ ]:
corr_0 = corr_0[corr_0 != 1]

corr_1 = corr_1[corr_1 != 1]

corr_0.sort_values(ascending = False).head(10)

In [ ]:
corr_1.sort_values(ascending = False).head(10)

In [ ]:
plt.figure(figsize=[20,8])
sns.pairplot(target_0[['AMT_GOODS_PRICE','DAYS_EMPLOYED','AMT_CREDIT','CNT_FAM_MEMBERS','REGION_RATING_CLIENT']])
plt.show()

In [ ]:
plt.figure(figsize=[20,8])
sns.pairplot(target_1[['AMT_GOODS_PRICE','DAYS_EMPLOYED','AMT_CREDIT','CNT_FAM_MEMBERS','REGION_RATING_CLIENT']])
plt.show()

## Previous Application dataset

In [ ]:
prev_data=pd.read_csv('previous_application.csv')

In [ ]:
prev_data.head()

In [ ]:
prev_data=prev_data.replace('XNA', np.NaN)
prev_data=prev_data.replace('XAP', np.NaN)

### Univariate Analysis on previous application data

#### Contract Status

In [ ]:
coldata = prev_data["NAME_CONTRACT_STATUS"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Contract status of previous application')
fig.show()

We can see that more that 50% of previous application has been approved and less than 20% have been cancelled.Very less no of loan application have been unused.

#### Payment Status

In [ ]:
coldata = prev_data["NAME_PAYMENT_TYPE"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Payment status of previous application')
fig.show()

We can observe that  majority of the application have been Cash through bank.

#### Types of Goods

In [ ]:
coldata = prev_data["NAME_GOODS_CATEGORY"].value_counts(normalize=True)*100
df = pd.DataFrame({'labels': coldata.index,'values': coldata.values})
fig = px.bar(df, x='labels', y='values',title='Contract status of previous application')
fig.show()

We can observe that loan for Mobile is the highest where as for loan for House Construction is the lowest.

### Merging both the data set

In [ ]:
df=pd.merge( app_data,prev_data, how='inner', on="SK_ID_CURR")
df.head()

In [ ]:
df.shape

In [ ]:
table = pd.pivot_table(df, values='TARGET', index=['NAME_CONTRACT_TYPE_y'],columns=['NAME_CONTRACT_STATUS'], aggfunc=np.mean)

In [ ]:
table

In [ ]:
fig = px.bar(table, barmode = 'group', title = "Comparsion of Loan Approval Status for Cash,Consumer and Revolving Loans")
fig.show()

1.We can see that Refused loan application is the highest for Cash loan.
2.For consumer loan type has the highest apllication refused.
3.For Revolving loans there are no unused offers and majority laon application have been refused.